.add {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 15;
}

.box {
  position: absolute;
  width: 100px;
  height: 100px;
  color: red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #c8e6c9;
  color: black;
  cursor: move;
}

.bigNumber {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 6rem;
  color: rgba(255, 255, 255, 0.5);
  transform: translate(-50%);
}

.boundingBox {
  z-index: -1;
  position: absolute;
  border: 2px dashed yellow;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  position: absolute;
  top: 1rem;
  left: 50%;
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.5);
  transform: translate(-50%);
}

@media (max-width: 640px) {
  .header {
    position: absolute;
    top: 1rem;
    left: 50%;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.5);
    transform: translate(-50%);
  }

  .add {
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 15;
    font-size: small
  }
}